$primary:#2274A5;

.share {
    width: 100%;
    height: 150px;
    background-color: white;
    border: 0.5px solid rgb(219, 219, 219);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 19px -10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 19px -10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 19px -10px rgba(0, 0, 0, 0.22);
}


.share_wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .share_top{
        display: flex;
        align-items: center;
    }

    .share_input{
        border: none;
        width: 80%;

        &:focus{
            outline: none;
        }
    }

    .share_profile_img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
}

.share_hr{
    margin: 20px;
}

.share_bottom{
display: flex;
align-items: center;
width: 100%;
    

    .share_options{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .share_option{
        display: flex;
        align-items: center;
        margin-right: 15px;
        border-radius: 20px;
        cursor: pointer;
        
    }

    .share_icon{
        margin-right: 10px;
    }
}



//modal

.create_post_modal{
    width: 100%;

    
}
.modal_top{
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;

    .modal_header{
        font-size: 20px;

    }

    .cancel_icon{
        color: rgb(61, 61, 61);
        cursor: pointer;
        &:hover{
            color: black;
        }
    }
}

.modal_body{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    #image_input{
       display: none;
    }
    .img_label{
        // background-color: red;
        padding: 10px;
        border-radius: 10px;
        justify-content: center;
        align-content: center;
        color: #003f88;
        cursor: pointer;

        &:hover{
            background-color:  #e1ebf1     ;
        }
    }
}

.modal_actions{
    display: flex;
    justify-content: end;
    .btn_cancel , .btn_done{
        background-color: white;
        padding: 10px;
        border: 0.5px solid $primary;
        border-radius: 15px;
        cursor: pointer;
        color: $primary;
        font-weight: bold;
        margin-right: 10px;

        &:hover{
            background-color: #bedcee;
            // border: 2px solid $primary;
        }
    }
}

