$small: 500px;
$medium: 900px;
$primary:#2274A5;

.right_bar{
    flex: 3.5;
    @media screen and (max-width: $small){
        flex: 12;
        display: none;
    }
}
.footer{
    display: flex;
    justify-content: center;
    height: 100px; 
    li{
        list-style: none;
        padding: 0 10px;
        margin: 0;
    }
}